In [8]:
#Create a tuple with 3 lists, one string , one integer get the values of second list third value

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)
print(tuple1[0])
print(tuple2[1])
print(tuple3[2])

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)
apple
5
False

In [13]:
#Create a dictionary with EmpNo as key and EmpName as value with 5 key pair values and check if empNo 3 then print manager and nested if check empname = "yy'' then print Manager else emp name

empdict = {
    "Emp1": "Manager",
    "Emp2": "Prema",
    "Emp3": "Nisha",
    "Emp4": "Priya",
    "Emp5": "Shivani"
}
print(empdict)
print(empdict["Emp3"])

{'Emp1': 'Manager', 'Emp2': 'Prema', 'Emp3': 'Nisha', 'Emp4': 'Priya', 'Emp5': 'Shivani'}
Nisha

In [1]:
#Print Pattern to display letter of the word using while loop
index = 0
a = 'NETZWERK'
aa = ' ' 
while index < len(a):
    aa = aa + a[index]
    print(aa)
    index = index + 1

 N
 NE
 NET
 NETZ
 NETZW
 NETZWE
 NETZWER
 NETZWERK

In [4]:
#Print pyramid of REVEESE NETZWERK using while loop

index = -1
a = 'NETZWERK'
aa = ' ' 
while index < len(a):
    aa = aa + a[index]
    print(aa)
    index = index - 1

 K
 KR
 KRE
 KREW
 KREWZ
 KREWZT
 KREWZTE
 KREWZTEN

IndexError: string index out of range

In [6]:
#pyramid program using for loop (diamond shape)


n = int(input('Enter the number:'))
k = 2 * n - 2
for i in range(0, n):
    for j in range(0, k):
        print(end= ' ')
    k = k - 1
    for j in range(0, i + 1):
        print('1 ', end= '') # No space 
    print('') # No space
    
k = n - 2
for i in range(n, -1, -1):
    for j in range(k, 0, -1):
        print(end= ' ')
    k = k + 1
    for j in range(0, i + 1):
        print('1 ', end= '') # No space
    print('') # No space

Enter the number:5
        1
       1 1
      1 1 1
     1 1 1 1
    1 1 1 1 1
   1 1 1 1 1 1
    1 1 1 1 1
     1 1 1 1
      1 1 1
       1 1
        1

In [11]:
#shorthand while counter increase

count = 0
while (count < 9):
  print('The count is:', count)
  count += 1
print("Good bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

In [3]:
##Create a module with address and hobbies for student and print address and hobbies for the student from the main execution 

def std_details():
    name, age = "Simon", 19
    address = "Bangalore, Karnataka, India"
    hobbies = "Playing games"
    print("Name: {}\nAge: {}\nAddress: {}\nHobbies: {}".format(name, age, address,hobbies))
std_details()

Name: Simon
Age: 19
Address: Bangalore, Karnataka, India
Hobbies: Playing games

In [19]:
#Create a function with multiple keyword args and print them

def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "pooja", child2 = "john", child3 = "Linus")

The youngest child is Linus

In [20]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "john", lname = "fsnes")

His last name is fsnes

In [21]:
#except the ValueError and print own statement


try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

In [22]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [1]:
#create a class employee with name and dept as parameters and print them using object

class Employee:
    __id=0
    __name=""
    __dept=""
    def setData(self):
        self.__id=int(input("Enter Id:\t"))
        self.__name = input("Enter Name:\t")
        self.__dept = input("Enter Dept:\t")

    def showData(self):
        print("Id\t\t:",self.__id)
        print("Name\t:", self.__name)
        print("Dept\t:", self.__dept)

def main():
    #Employee Object
    emp=Employee()
    emp.setData()
    emp.showData()

if __name__=="__main__":
    main()

Enter Id:	1
Enter Name:	pooh
Enter Dept:	cs
Id		: 1
Name	: pooh
Dept	: cs

In [3]:
#create an example for inheritance 

# parent class
class Person( object ):    
  
        # __init__ is known as the constructor         
        def __init__(self, name, idnumber):   
                self.name = name
                self.idnumber = idnumber
        def display(self):
                print(self.name)
                print(self.idnumber)
  
#child class
class Employee( Person ):           
        def __init__(self, name, idnumber, salary, post):
                self.salary = salary
                self.post = post
  
                # invoking the __init__ of the parent class 
                Person.__init__(self, name, idnumber) 
a = Employee('Rahul', 886012, 200000, "Intern")    
  
# calling a function of the class Person using its instance
a.display()

Rahul
886012

In [4]:
#create an example for Polymorphism

def add(x, y, z = 0):
    return x + y+z
 
# Driver code
print(add(2, 3))
print(add(2, 3, 4))

5
9

In [5]:
#create an example for Polymorphism

class India():
    def capital(self):
        print("New Delhi")
 
    def language(self):
        print("Hindi")
 
class USA():
    def capital(self):
        print("Washington, D.C")
 
    def language(self):
        print("English")

obj_ind = India()
obj_usa = USA()
for country in (obj_ind, obj_usa):
    country.capital()
    country.language()

New Delhi
Hindi
Washington, D.C
English

In [11]:
#Give an example of Negation using Regular exp

import re

print(re.search(r'N[^z]','Netzwerk'))

<re.Match object; span=(0, 2), match='Ne'>

In [3]:
#Shorthand with letter and Range using Regular exp
import re
p = re.compile('[a-e]')
print(p.findall("Aye, said Mr. ashok"))

['e', 'a', 'd', 'a']

In [4]:
import re
print('Range',re.search(r'[a-zA-Z]','x'))
print('Range',re.search(r'[1-10]','10'))

Range <re.Match object; span=(0, 1), match='x'>
Range <re.Match object; span=(0, 1), match='1'>

In [6]:
match = re.search(r'Student$','Student campus of the month Student')
print('Beg. of String:',match)

Beg. of String: <re.Match object; span=(28, 35), match='Student'>

In [4]:
#retrive a single group
import re
grp=re.search(r'([\d]{2})-([\d]{2})-([\d]{4})','26-04-2021')
print(grp.group(3))

2021

In [1]:
#lookhead

import re
print('negation:', re.search(r'n[^e]','python'))
print('lookhed:', re.search(r'n(?!e)','python'))

negation: None
lookhed: <re.Match object; span=(5, 6), match='n'>

In [8]:
#Create table employee insert 6 records and do update salary for all the employees by 500

from pymongo import MongoClient  
myclient = MongoClient("mongodb://localhost:27017/")
db = myclient["GFG"]
collection = db["Empolyee"]
mylist = [
  { "_id": 1, "name": "Vishwash", "Salary": "100"},
  { "_id": 2, "name": "Vishesh", "Salary": "100"},
  { "_id": 3, "name": "Shivam", "Salary": "100"},
  { "_id": 4, "name": "Yash", "Salary": "100"},
]
x=collection.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4]

In [9]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["GFG"]
mycol = mydb["Empolyee"]

myquery = { "Salary": "100" }
newvalues = { "$set": { "Salary": "500" } }

mycol.update_many(myquery, newvalues)

for x in mycol.find():
  print(x)

{'_id': 1, 'name': 'Vishwash', 'Salary': '500'}
{'_id': 2, 'name': 'Vishesh', 'Salary': '500'}
{'_id': 3, 'name': 'Shivam', 'Salary': '500'}
{'_id': 4, 'name': 'Yash', 'Salary': '500'}

In [16]:
#Create request to connect to Gmail.com and print response
import requests as req
response = req.get("http://www.gmail.com")
print(response)
print(response.text[0:1000])

<Response [200]>

<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta content="width=300, initial-scale=1" name="viewport">
  <meta name="description" content="Gmail is email that&#39;s intuitive, efficient and useful. 15 GB of storage, less spam and mobile access.">
  <meta name="google-site-verification" content="LrdTUW9psUAMbh4Ia074-BPEVmcpBxF6Gwf0MSgQXZs">
  <title>Gmail</title>
  <style>
  @font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
  </style>
  <style>
  h1, h2 {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  }
  @-webk

In [17]:
#Create a file and add 4  lines of your address and read the content in jupyterlab/python cmd

file = open("poo.txt","w+")
file.writelines(['P.No-69 \n Vishwaradhya Colony \n Quadri Chowk \n Aland Road \n Kalburagi'])
file = open("poo.txt","r")
print(file.read())
file.close()

P.No-69
 Vishwaradhya Colony
 Quadri Chowk
 Aland Road
 Kalburagi

In [20]:
#Get date after 2 years 10 months and 4 hours from now and get date for past 3 years 6 hours from now

from datetime import date
today = date.today()
print("Today's date is", today)
print("Date components", today.year, today.month, today.day)

Today's date is 2021-11-27
Date components 2021 11 27

In [21]:
from datetime import time
time = time(11,34,56)
print("hour =", time.hour)
print("minute =", time.minute)
print("second =", time.second)

hour = 11
minute = 34
second = 56

In [25]:
from datetime import datetime, timedelta
time_now=datetime.now()
print("Initial_date", str(time_now))
future_date_after_2year=time_now + timedelta(days=730)
past_date_before_3year=time_now - timedelta(days=1080)
print('future_date_after_2year:', str(future_date_after_2year))
print('past_date_before_3year:', str(past_date_before_3year))

Initial_date 2021-11-27 17:56:54.743057
future_date_after_2year: 2023-11-27 17:56:54.743057
past_date_before_3year: 2018-12-13 17:56:54.743057

In [23]:
from datetime import datetime
a = datetime(2021, 10, 26)
print(a)
b = datetime(2024, 8, 26, 4, 00, 00, 342380)
print(b)

2021-10-26 00:00:00
2024-08-26 04:00:00.342380

In [ ]:
##Create API using flask (module about squareroot, cube root and Simple interest calculation)

import flask
from flask import Flask, jsonify, request 
app = Flask(__name__)

@app.route('/', methods = ['GET', 'POST'])
def home():
    if(request.method == 'GET'):
        data = "hello world"
        return jsonify({'data': data})
@app.route('/square/<int:num>', methods = ['GET'])
def disp(num):
    return jsonify({'square': num**2})

@app.route('/cube/<int:num>', methods = ['GET'])
def cube(num):
    return jsonify({'cube': num**3})

@app.route('/si/<int:p><int:t><int:r>', methods = ['GET'])
def si(p,t,r):
    print("The principal is" , p)
    print("The time period is" , t)
    print("The rate of interest is" , r)
    simin=(p*t*r)/100
    print("The simple interest is" , simin)
    return jsonify({'si':simin})
# driver function
if __name__ == '__main__':
    from werkzeug.serving import run_simple
run_simple('localhost', 5000, app)

 * Running on http://localhost:5000/ (Press CTRL+C to quit)

In [2]:
#Create Collection Student and update course name for all students using Updatemany

from pymongo import MongoClient
client = MongoClient('localhost',27017)
db = client['std']
collections = db['stdnt']
doc = [{"Sid": 1, "Sname": "Pooja"},
      {"Sid": 2, "Sname": "Nisha"},
      {"Sid": 3, "Sname": "shiva"},
      {"Sid": 4, "Sname": "Ganga"}]
res = collections.insert_many(doc)

In [3]:
collections.update_many({},{"$set":{"Course":"CSE"}})
for doc in collections.find():
    print(doc)

{'_id': ObjectId('61a23e99f7624c09a29257f8'), 'Sid': 1, 'Sname': 'Pooja', 'Course': 'CSE'}
{'_id': ObjectId('61a23e99f7624c09a29257f9'), 'Sid': 2, 'Sname': 'Nisha', 'Course': 'CSE'}
{'_id': ObjectId('61a23e99f7624c09a29257fa'), 'Sid': 3, 'Sname': 'shiva', 'Course': 'CSE'}
{'_id': ObjectId('61a23e99f7624c09a29257fb'), 'Sid': 4, 'Sname': 'Ganga', 'Course': 'CSE'}